<%= form_for([messageable, message], remote: true) do |f| %>
	<div class="well new-message", contenteditable="true"></div>
	<%= f.hidden_field :content, required: true %>
	<%= f.submit "Submit", class: 'btn btn-primary', id: 'new-message-submit' %>
<% end %>

<%= javascript_tag do %>
  $('.new-message').on('keyup', function(){
		$('#message_content').val($('.new-message').html())
	})

	$('#new-message-submit').click(function(){
		$('.new-message').empty()
	})
<% end %>
