$('.messages').prepend('<div class="well"><%= link_to @message.user_name, user_public_profile_path(@message.user) %> <%= local_time_ago(@message.created_at) %>: <br> <%= @message.content %></div>')

if ($('.messages > div').length >= 5){
	$('.messages div:last').remove()
}

$('#message_content').val('')