<div id="login" class="modal">
  <div class="modal-content">
    <h2>Log In/Sign Up</h2>
    <p>Select an option for connecting:</p>
    <p><i>We're only going to take your name, email, and profile photo from Facebook or Google</i></p>
    <%= link_to "Facebook", '/auth/facebook', class: "btn-large blue omniauth center-align" %>
    <br><br>
    <%= link_to "Google", '/auth/google_oauth2', class: 'btn-large red omniauth center-align' %>
  </div>
</div>
