<h5>Sign Up with Email:</h5>
<%= render "users/new" %>
<br>
<h5>Or Sign up with:</h5>
<div>
  <%= link_to "Facebook", '/auth/facebook', class: "btn blue omniauth center-align" %>
  <%= link_to "Google", '/auth/google_oauth2', class: 'btn red omniauth center-align' %>
</div>
<br>
