<h3>Confirm your email address</h3>
<p>Verify that you own <%= mail_to @user.email %>.</p>
<%= link_to "Click here", email_confirmed_user_url(@user, code: @user.password_reset_token) %> to confirm your email.
