<%= form_for(@beta_code, url: beta_signup_path) do |f| %>

  <div class="input-field">
    <%= f.email_field :email, required: true %>
    <%= f.label :email, "Enter Your Email" %>
  </div>

  <div class="right-align input-field">
      <%= f.submit "Sign Up", class: 'btn green' %>
  </div>
<% end %>
