<% provide(:title, "Sign up for Krewe") %>

<div class="container">
  <div class="card-panel">
    <h4>Signup for Krewe Beta</h4>
      <%= render "beta_codes/form" %>
      <br>
      <div class="right-align">
        <%= link_to "Log in instead", login_path %>
      </div>
  </div>
</div>
