<div class="modal" id="new-topic">
  <div class="modal-content">
    <h4>New Thread</h4>
    <%= form_for([group, topic], remote: true) do |f| %>
      <div class="input-field">
        <%= f.text_field :name, required: true %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Create", class: "modal-action modal-close btn btn-success" %>
      </div>
  <% end %>
  </div>
</div>
