<div class="well messages">
  <% if topic.messages_any? %>
      <% if topic.multiple_pages? %>
        <div class="text-center">
          <button type="button" class="btn btn-primary more-messages">Load More</button>
        </div>
      <% end %>

    <div class="individual-messages">
      <% topic.messages.reverse_each do |message| %>
        <%= render partial: "messages/message", locals: { message: message } %>
      <% end %>

    </div>
  <% else %>
    <h3 id="intro">No messages, yet. Say, something...</h3>
  <% end %>
</div>

<%= link_to_next_page topic.messages, "Next Page", params: {controller: 'topics', action: 'show', id: topic.id}, class: "pagination" %>

<%= render partial: "messages/new", locals: { messageable: topic.this_topic, message: topic.new_message} %>
