$('.topics').prepend('<li class="tab col s3"><%= j link_to @topic.name, change_topic_path(@topic), remote: true %></li>')
$('.message-group').html('<%= j render partial: "topic", locals: { topic: @topic_show } %>')
$('#topic_name').val("")

$('.topics > li').removeClass('selected-topic')
$('.topics > li:first-child').addClass('selected-topic')

resize_window('.messages');
mentioning(<%= @topic.names_data(current_user) %>)
