$('.topics').prepend('<li><%= j link_to @topic.name, change_topic_path(@topic), class: "btn btn-info", remote: true %></li>')
$('.message-group').html('<%= j render partial: "topic", locals: { topic: @topic_show } %>')
$('#topic_name').val("")

resize_window('.messages');
mentioning(<%= @topic.names_data %>)
