<h1><%= @user.name %></h1>
<h5><%= link_to "Edit", edit_user_path, class: "btn btn-warning" %></h5>

<h3>Groups</h3>
<ul>
	<% @user.groups.each do |group| %>
		<li><%= link_to group.name, group_path(group) %></li>
	<% end %>
</ul>

<h5><%= link_to '<i class="glyphicon glyphicon-plus"></i> Add Group'.html_safe, add_group_path, class: 'btn btn-success' %> 
</h5>