<footer class="page-footer">
	<div class="row center">
				<%= link_to "About", about_path, class: 'white-text' %>
				<%= link_to "Terms", terms_of_service_path, class: 'white-text' %>
				<%= link_to "Privacy", privacy_policy_path, class: 'white-text' %>

				<%= mail_to "support@gokrewe.com", "Support", class: "white-text" %>
				<a class="white-text" href="https://twitter.com/gokrewe">Twitter</a>
				<a class="white-text" href="https://www.facebook.com/gokrewe/">Facebook</a>
						<a class="brown-text text-lighten-3" href="http://gokrewe.com">Krewe Incorporated ©2016</a>
	</div>
</footer>
