<div id="welcome-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Welcome to Krewe</h4>
    <p>Thanks for signing up, this is how things here work:</p>
    <p>You've been placed in a group named <%= @user_show.groups.first.name %> that's limited to 6 people, all of whom live no more than a mile from you. Other users are placed in your group as soon as they sign up. No messing around with choosing people from their profiles and the superficial judgements that go along with that.</p>
    <p>Once your group is filled up, we highly recommend you set up an activity to meet up with them. You may not love everyone at first (who ever does?), but we think you'll find at least one person in your group you can get along with.</p>
    <p>Over time, and once you've become close with your group, you'll be able to expand and merge with other local groups. So, worse case scenario, you'll be able to make at least a few good friends. At best, you'll have a lot of really close friends in your neighborhood. It all depends on what you put into it.</p>
    <p>We're still new and working hard to get lots of users. If your group isn't full yet, it's ok. We'll email you as people join.</p>
  </div>

  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok, I got it</a>
  </div>
</div>
