<div class="col s12 m6">
  <h4>How it works:</h4>
  <h5>Get placed in a group of six of your peers who live within a mile of you</h5>
  <div class="divider"></div>
  <h5>Meet up often, become close, and have an amazing social life</h5>
  <div class="divider"></div>
  <h5>Expand your group and build a strong local community</h5>
</div>

<div class="col s12 m6">
    <%= render "sessions/sign_up" %>
</div>
