<div class="container main">
  <div class="card-panel">
    <h3>About Krewe</h3>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;We at Krewe believe that the most valuable things anyone has are the close relationships they have with the people they know. Yet, for a whole list of reasons, we are finding that those relationships are becoming increasingly rare in our modern society. Our goal is to reverse that trend. We want to bring people together in the real world and help them form meaningful friendships and communities.
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;We believe that in order to achieve that, two things matter above all else. First, we believe that people should be introduced to each other in small groups. This is how most of us have naturally formed our closest friendships throughout our lives. They were the people who we had classes with, or who lived on our freshman dorm hall, or who pledged our fraternity at the same time, or who played on our sports team. Being in small groups has the advantage not feeling like you’re on a date and needing to maintain a long conversation, but also not being in a big crowd where you don’t know anyone’s name and have to introduce yourself to some random person. It means that you all are mutual friends with each other, and can build your own culture of inside jokes and traditions.
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;Second, we believe in persistence. We believe that connections rarely form over a single meeting. They happen over time. Therefore, you need to see people, face-to-face, on multiple occasions to build that lasting friendship. We understand how busy people are, and trekking across town through traffic to see people you don’t really know just doesn’t seem worth it. That’s why we only connect you with people who live within walking distance. Meeting up with a group of friends at neighborhood bar for drinks every other night is a very special thing. It’s the stuff TV sitcoms are made of. And we believe everyone should have the network to make that possible.
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;We envision a world where people are close friends with their neighbors. Where everyone always has something fun to do. Where people can live where they want without fear of loneliness. We believe that a world in which everyone is part of a close-knit community and has close friends they can see everyday in is a much happier one, and we at Krewe hope to make that happen.
    </p>
  </div>
</div>

<%= render 'shared/footer' %>
