<div class="container">
  <div class="row">
    <div class="col s12 m9">
      <div id="searching" class="section scrollspy">
        <h4>How do I search for other groups and users?</h4>
        <p>
          Krewe does not allow you to browse through other groups and user profiles to find people. We set you up with a an initial group and that's about it. We believe that having choices actually inhibits involvement and interaction. We want you to actually get out and meet people in person, rather than judging them by their photos or what they write in a blurb.

          Over time, you will be able to expand your group, which will merge your group with another local group, giving you the chance to meet more people. You can do this many times so that you can form a large network.
        </p>
      </div>

      <div id="expanding" class="section scrollspy">
        <h4>How do I expand my group?</h4>
        <p>
          We want you to take the time to get to know the people you're set up with. So, after a month and after you're group has had four activities that four group members have atteneded, you will be able to vote to expand the group.

          If another similar group in your area has previously voted to expand, you will form a new group with them. Otherwise, we will let you know when another group is avaible to merge with.
        </p>
      </div>

      <div id="empty" class="section scrollspy">
        <h4>Why isn't there anyone else in my group?</h4>
        <p>
          Krewe is very new. There might not be enough people who've signed up to match you up with. As soon as people join your group, we'll send you an email to let you know. So relax as we grow. It might take some time, but we'll get to you.
        </p>
      </div>

      <div id="interests" class="section scrollspy">
        <h4>Wait, you don't match people based on interests?!</h4>
        <p>
          No, we don't believe that stuff is as important as you would expect. Most people's friendships weren't formed through an algorithm that matched people based off of the stuff they like. They were formed because they're lives were intertwined, through school, work, sports, etc. Friendships are formed out of people doing things together and spending time together often.
        </p>
      </div>

      <div id="location" class="section scrollspy">
        <h4>I live in a sparsely populated area. How do I expand the search area?</h4>
        <p>
          Krewe currently only searches for groups within a half mile radius. We believe it's critical that people live close enough together that they can easily see each other often. We do have plans to make the search radius automatically adjust as to not strand you rural folk. We'll keep you updated.
        </p>
      </div>

      <div id="connection" class="section scrollspy">
        <h4>I don't like anyone in my group. Krewe sucks.</h4>
        <p>
          We hope you'll try hard to form friendships with your group. These things take time. Connections don't usually form after a single meeting. If you do stick it out long enough and you still don't like them, you'll be able to expand your group and meet even more people. Hopefully you'll like some of them.

          But, if you just know that you'll never get along with the people in your group, you can drop your group and we'll find you a new one.
        </p>
      </div>
    </div>

    <div class="col hide-on-small-only m3">
      <ul class="section table-of-contents">
        <li><a href="#searching">How do I search for other groups and users?</a></li>
        <li><a href="#expanding">How do I expand my group?</a></li>
        <li><a href="#empty">Why isn't there anyone else in my group?</a></li>
        <li><a href="#interests">Wait, you don't match people based on interests?!</a></li>
        <li><a href="#location">I live in a sparsely populated area. How do I expand the search area?</a></li>
        <li><a href="#connection">I don't like anyone in my group. Krewe sucks.</a></li>
      </ul>
    </div>
  </div>
</div>
