<div class="container">
	<div class="row section no-pad-bot card-panel sign-up-card">
		<div class="col s12 m6">
			<h3 class="header blue-text">The best way to form your social network</h3>
			<h5 class="blue-text"><i class="material-icons">group</i> Join a small, local social group and build close friendships and community</h5>
			<h5 class="blue-text"><i class="material-icons">my_location</i> Everyone lives within walking distance</h5>
			<h5 class="blue-text"><i class="material-icons">insert_invitation</i> Getting together frequently is easy</h5>
		</div>

		<div class="col s12 m6">
				<h4 class="blue-text">Sign Up</h4>
				<%= render 'beta_codes/form' %>
				<br>
		</div>
	</div>
	<div class="parallax"><%= image_tag "landing", class:'responsive-img' %></div>
</div>
