<div class="container main valign-wrapper">
	<div class="row section no-pad-bot card-panel sign-up-card hoverable valign">
		<h2 class="header center-align">Make a New Group of Close Friends in Your Neighborhood</h2>

		<div class="valign-wrapper hide-on-small-only">
			<%= render 'home/description' %>
		</div>

		<div class="hide-on-med-and-up">
			<%= render 'home/description' %>
		</div>
	</div>
</div>

<%= render "sessions/sign_up" %>
<%= render 'shared/footer' %>
