<div class="container main">
	<div class="row section no-pad-bot card-panel sign-up-card hoverable">
		<h2 class="header center-align">Make a Close Group of Friends in Your Neighborhood</h2>

		<div class="valign-wrapper hide-on-small-only">
			<div class="col s12 m6">
				<h4>How it works:</h4>
				<h5>Get placed in a group of six of your peers who live within a mile of you</h5>
				<div class="divider"></div>
				<h5>Meet up often (everyday?), become close, and have fun together</h5>
				<div class="divider"></div>
				<h5>Expand your group, meet more people in your neighborhood, and build a strong community</h5>
			</div>

			<div class="col s12 m6 center-align valign">
					<a href="#login" class="waves-effect waves-light btn-large modal-trigger green">Sign Up</a>
			</div>
		</div>

		<div class="hide-on-med-and-up">
			<div class="col s12 m6">
				<h4>How it works:</h4>
				<h5>Get placed in a group of six of your peers who live within a mile of you</h5>
				<div class="divider"></div>
				<h5>Meet up often (everyday?), become close, and have fun together</h5>
				<div class="divider"></div>
				<h5>Expand your group, meet more people in your neighborhood, and build a strong community</h5>
			</div>

			<div class="col s12 m6 center-align">
					<a href="#login" class="waves-effect waves-light btn-large modal-trigger green">Sign Up</a>
			</div>
		</div>
	</div>
</div>

<%= render "sessions/new" %>
<%= render 'shared/footer' %>
