<h3>Hey,</h3>

<p>Great news, your group <%= link_to @group.name, url_for(@group) %> is now complete. You should get together with them as soon as possible at a local establishment so you can start getting to know each other. Remember, you all live really close to each other, so even just a quick meet up shouldn't be too tough. When that's done, you should also make plans to meet up again. You'll eventually be able to expand your group and make dozens more friends, so stick with it.</p>

<p>Kind Regards,</p>
<p>Your friends at Krewe</p>
