@import "materialize";
@import "sweet-alert";
@import "jquery.atwho";
@import "clockpicker";

$creamcan: #F5D76E;
$secondary: #3580d9;

@font-face {
	font-family: 'Josefin Sans';
	src: font-url('JosefinSans-SemiBold.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6, p, div {
	font-family: 'Josefin Sans';
}

p {
	font-size: 1.3em;
}

a {
	font-size: 1.1em;
}

#logo {
	max-width: 150px;
}

.container {
	min-height: 100%;
	margin-bottom: -40px;
	padding-bottom: 40px;
}


.krewe-blue {
	background: $secondary;
}

.messages, .topics {
	overflow: scroll;
}


#map-canvas {
	width: 100%;
	height: 300px;
}

#map {
	width: 100%;
	height: 600px;
}

#lost {
	height: 100%;
	width:  100%;
}

.more-messages {
	margin-bottom: 10px;
}

.pac-container {
  z-index: 1050 !important;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: $secondary;
}
.parallax-container .section {
  width: 100%;
}

.tabs .tab a {
	color: #2196f3;
}

.tabs .tab a:hover {
	color: #90caf9;
}

footer.page-footer {
  margin: 0;
}

video {
	width: 100%;
}
