@import "materialize";
@import "sweet-alert";
@import "jquery.atwho";
@import "clockpicker";

$creamcan: #F5D76E;
$secondary: #3580d9;

@font-face {
	font-family: 'Josefin Sans';
	src: font-url('JosefinSans-Regular.ttf') format('truetype');
}

html {
	font-family: 'Josefin Sans', Roboto, Calibri, sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.main {
	flex: 1 0 auto;
}

nav {
	background-color: $secondary;
}

h1.header, h5.header {
	text-shadow: 1px 1px black;
}

p {
	font-size: 1.4em;
}

a, time, button, input[type=text], label, .error-messages, .new-message, #people-type, .no-users {
	font-size: 1.3em;
}

.input-field label.active {
	font-size: 0.9rem;
}

#logo {
	max-width: 150px;
}

.messages, .topics {
	overflow: scroll;
}

.topics {
	white-space: nowrap;
}

.input-field label {
	color: black;
}

#map-canvas {
	width: 100%;
	height: 300px;
}

#map {
	width: 100%;
	height: 600px;
}

#lost {
	height: 100%;
	width:  100%;
}

.more-messages {
	margin-bottom: 10px;
}

.pac-container {
  z-index: 1050 !important;
}

.tabs .tab a {
	color: $secondary;
}

.tabs .tab a:hover {
	color: #90caf9;
}

.card .card-action a {
	color: white;
}

.landing {
	background: url(landing.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

footer.page-footer {
	width: 100%;
	background-color: $secondary;

	a {
		font-size: .9em;
	}
}

.sign-up-card {
	background-color: rgba(250,250,250, 0.8)
}
