<div class="modal fade" id="activityModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
				<h1 class="modal-title">Propose Activity</h1>
			</div>
			<div class="modal-body">

				<%= render 'activities/form' %>
			</div>
		</div>
	</div>
</div>
