<h1><%= @activity.plan %></h1>
<h1><%= @activity.group.name %></h1>
<h2><%= local_time(@activity.appointment) %></h2>

<h3>People going</h3>
<% @activity.users.each do |user| %>
	<%= link_to user.name, user_public_profile_path(user) %>

<% end %>