<% if current_user.active_notifications.any? %>
	<a href="#" class="dropdown-toggle" data-toggle='dropdown' role='button' aria-expanded='false'>Notifications <span class='caret'></span></a>
	<ul class="dropdown-menu" role='menu'>
		<% current_user.active_notifications_category("Message").each do |note| %>
			<li><%= link_to "#{note.poster_name} wrote in #{note.notifiable.group.name}", group_path(note.notifiable.group) %></li>
		<% end %>

		<% current_user.active_notifications_category("PersonalMessage").each do |note| %>
			<li><%= link_to "#{note.poster_name} sent you a message", user_public_profile_path(note.poster) %></li>
		<% end %>

		<% current_user.active_notifications_category("Group").each do |note| %>
			<li><%= link_to "#{note.poster_name} joined #{note.notifiable.name}", group_path(note.notifiable) %></li>
		<% end %>

		<% current_user.active_notifications_category("Activity").each do |note| %>
			<li><%= link_to "#{note.poster_name} proposed an activity", group_activity_path(note.notifiable.group, note.notifiable) %></li>
		<% end %>
	</ul>
<% end %>