<% if current_user.active_notifications.any? %>	
		<a href="#" class="dropdown-toggle" data-toggle='dropdown' role='button' aria-expanded='false'>Notifications <span class='caret'></span></a>
		<ul class="dropdown-menu" role='menu'>
			<% current_user.active_notifications.each do |notification| %>
			<li><a href="/groups/<%= notification.group.id %>"><%= notification.poster.name %> wrote in <%= notification.group.name %> <%= local_time_ago(notification.created_at) %></a></li>
			<% end %>
		</ul>
<% end %>