<% if @notifications && @notifications.unviewed_notifications_count > 0 %>
	<a href="#" class="dropdown-toggle" data-toggle='dropdown' role='button' aria-expanded='false'>Notifications <span class='caret'></span></a>
	<ul class="dropdown-menu" role='menu'>
		<% @notifications.unviewed_category_notifications("Message").each do |note| %>
			<li><%= link_to "#{note.poster_name} wrote in #{note.notifiable.group_name}", group_path(note.notifiable_group) %></li>
		<% end %>

		<% @notifications.unviewed_category_notifications("PersonalMessage").each do |note| %>
			<li><%= link_to "#{note.poster_name} sent you a message", user_public_profile_path(note.poster) %></li>
		<% end %>

		<% @notifications.unviewed_category_notifications("Group").each do |note| %>
			<li><%= link_to "#{note.poster_name} joined #{note.notifiable_name}", group_path(note.notifiable) %></li>
		<% end %>

		<% @notifications.unviewed_category_notifications("Activity").each do |note| %>
			<li><%= link_to "#{note.poster_name} proposed an activity", activity_path(note.notifiable) %></li>
		<% end %>
	</ul>
<% end %>
